.articles-list{
    min-height: 80vh;
}
.articles-list .post{
    padding-left: 5px !important;
}

.articles-list .post:last-of-type{
    padding-left: 0 !important;
}
.view-title{
    margin: 20px 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

textarea {
    resize: none;
}


figure img{
    width: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video-container .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.comment-parent-form button{
    margin-top: 5px !important;
}

.comments-container{
    margin-bottom: 40px;
}

.comment{
    background-color: #FAFAFA;
    color: #494949;
    
}

.comment strong{
    background: #CECECE;
    margin-left: 6px;
    padding: 3px 5px;
    border-radius: 6px 0 6px 0;
}
.comment p{
    margin: -10px 0 -2px 0;
    padding: 13px 5px 5px 5px;
    box-shadow: 0px 0px 5px #888888;
}

.comment .meta{
    display: inline-block;
    font-size: .8rem;
    margin-right: 5px;
}

.comment-item{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #C5D3D8;
    padding: 10px 10px 3px 10px;
}

.comment-item .parent{
    width: 100%;
}

.comment-item-child{
    width: 97%;
    margin-top: 5px;
}

.comment-item,
.comment-item-child{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logout-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.logout-button button{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    line-height: 18px;
}